.sidebar {
  position: absolute;
  width: 350px;
  height: 230px;
  left: 80px;
  top: 150px;

  background: #ffffff;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.sidebar2 {
  position: absolute;
  width: 350px;
  left: 80px;
  top: 410px;

  background: #ffffff;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.sidebar > input {
  z-index: 1;
  width: 300px;
  height: 40px;
  margin-top: 15px;
  margin-left: 25px;

  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

#btn_select {
  box-sizing: border-box;

  width: 300px;
  height: 50px;
  margin-top: 45px;
  margin-left: 25px;

  background: #00777d;
  border: 1px solid #c4c4c4;
  border-radius: 10px;

  color: #ffffff;
  cursor: pointer;
}
#btn_select:hover {
  transform: scale(1.04);
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}
#btn_select:active {
  position: relative;
  top: 1px;
}

.sidebar2 > p {
  text-align: center;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 29px;
  align-items: center;

  color: #000000;
}
